#expert{
  margin-left: 15px;
}

.why-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.why-left {
  width: 50%;
  margin-left: 70px;
}

.label {
  display: inline-block;
  background: #F0E71433 20%;
  color: #333;
  font-size: 13px;
  padding: 6px 14px;
  margin-bottom: 20px;
  width: 169;
  height: 39;
  opacity: 1;
  gap: 10px;
  border-radius: 74px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;

}

.why-left h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #111;
}

.desc {
  color: #666;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 27px;
}

p{
  line-height: 20px;
  margin-top:9px;
}

.feature {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.featur {
  width: 60px;
  height: 60px;
  background: #24272E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
}

.feature h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.feature p {
  font-size: 14px;
  color: #666;
}


.why-right {
  width: 50%;
  position: relative;
}

.why-right img {
  position: relative;
  z-index:  1;
  width: 210px;
  margin-top: 535px;
  margin-left: 480px;
}


.why-top img {
  left: 656px;
  position: absolute;
  z-index: 2;
  width:566px;
  border-radius: 10px;
  margin-top: -297px;
  margin-left: 50px;
}


