#header {
    padding: 20px 0;
    background: rgba(16, 28, 38, 1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headerlogo {
    display: flex;
    flex-direction: column;

    .headerimg {
        display: flex;

        h1 {
            color: rgba(240, 231, 20, 1);
            font-size: 50px;
            font-weight: 600;
        }
    }

    h2 {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
        font-size: 30px;
    }
}

.nav {
    display: flex;
    text-align: center;
    gap: 20px;

    a {
        font-weight: 500;
        font-size: 16px;
        color: rgba(186, 185, 185, 1);
        transition: 2s;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
    }
}

a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    color: white;
    transform: scale(1.1);

}

.header-btn {
    display: flex;
    gap: 20px;

}

.register {
    width: 130px;
    height: 50px;
    text-align: center;
    border: 1px solid transparent;
    color: rgba(16, 28, 38, 1);
    border-radius: 20px;
    background: rgba(240, 231, 20, 1);
    font-size: 15px;
    transition: 1s;
}

.register:hover{
    width: 130px;
    height: 50px;
    text-align: center;
    border: 2px solid rgba(206, 206, 206, 1);
    color: rgba(206, 206, 206, 1);
    border-radius: 20px;
    background: transparent;
    font-size: 15px;
    transform: scale(1.1);
}
.come:hover{
    width: 130px;
    height: 50px;
    text-align: center;
    border: 1px solid transparent;
    color: rgba(16, 28, 38, 1);
    border-radius: 20px;
    background: rgba(240, 231, 20, 1);
    font-size: 15px;
    transform: scale(1.1);
}

.come {
    width: 130px;
    height: 50px;
    text-align: center;
    border: 2px solid rgba(206, 206, 206, 1);
    color: rgba(206, 206, 206, 1);
    border-radius: 20px;
    background: transparent;
    font-size: 15px;
    transition: 1s;
}