#hero {
    padding: 20px;
    background: rgba(16, 28, 38, 1);
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    h1 {
        font-weight: 700;
        font-size: 60px;
        color: rgba(243, 244, 246, 1);
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -1.1%;
        color: rgba(243, 244, 246, 1);
    }
}

.hero-btn {
    display: flex;
    gap: 20px;

    .turn {
        width: 190px;
        height: 60px;
        border-radius: 20px;
        border: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: rgba(36, 39, 46, 1);
        background: rgba(240, 231, 20, 1);
    }

    .run {
        width: 190px;
        height: 60px;
        border-radius: 20px;
        border: none;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: white;
        background: transparent;
    }
}

.sub-text {
    display: flex;
    gap: 30px;

    h2 {
        font-weight: 600;
        font-size: 44px;
        text-align: center;
        color: rgba(240, 231, 20, 1);
    }

    span {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 22px;
        color: white;
        text-align: center;

    }
}

.hero-right {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stars {
    position: absolute;
    top: 240px;
    left: -170px;
}

.ellipse {
    position: absolute;
    top: -20px;
    left: 20px;
}

.right-text {
position: absolute;
top: 320px;
left: -100px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding-left: 20px;
gap: 10px;
width: 205px;
height: 235px;
border-radius: 10px;

    border-radius: 10px;
    background: white;

    img {
        width: 170px;
        height: 75px;
    }
    h4{
font-weight: 400;
font-size: 12px;
letter-spacing: -1.1%;
color: black;
background: rgba(240, 231, 20, 0.5);
width: 89;
height: 22;
border-radius: 32px;
padding-top: 2px;
padding-right: 8px;
padding-bottom: 2px;
padding-left: 8px;

    }
    h3{
font-weight: 600;
font-size: 16px;
line-height: 18px;
letter-spacing: -1.1%;
color: black;
    }
.results{
    display: flex;
    gap: 5px;
    h5{
        font-weight: 400;
font-size: 12px;
letter-spacing: -1.1%;
color: black;
background: transparent;
width: 85;
height: 22;
border-radius: 32px;
padding-top: 2px;
padding-right: 8px;
padding-bottom: 2px;
padding-left: 8px;
transition: 1s;
    
    }

        h5:hover{
font-weight: 400;
font-size: 12px;
letter-spacing: -1.1%;
color: black;
background: rgba(240, 231, 20, 0.5);
width: 85;
height: 22;
border-radius: 32px;
padding-top: 2px;
padding-right: 8px;
padding-bottom: 2px;
padding-left: 8px;
    
    }
}
}
.sub-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sub-hero{
    padding: 10px;
    background: rgba(16, 28, 38, 1);
}