#offer{
  margin-top: 70px;
}

.services {
  padding: 60px 40px;
  text-align: center;
}

.badge {
  display: inline-block;
  background: #F0E71433 20%;
  padding: 6px 14px;
  font-size: 12px;
  margin-left: 600px;
  margin-bottom: 120px;
  width: 158;
  height: 44;
  opacity: 1;
  gap: 10px;
  border-radius: 100px;

}

.creative{
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: -103px;

}

.desc {
  color: #777;
  max-width: 600px;
  margin: 0 auto 50px;
  font-weight: 100px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -1.1%;
  text-align: center;
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  text-align: left;
  transition: 0.3s ease;

}

/* Мышка барганда */
.card:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transform: translateY(-8px);
}


.icon {
  width: 50px;
  height: 50px;
  background: #1f1f1f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon img {
  width: 22px;
  height: 22px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(50%) saturate(600%);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card span {
  font-size: 14px;
  color: #999;
}